<div class="container">
  <div class= "d-flex align-item-center justify-content-space-between">
    <%= image_tag @user.photo, class: "user_photo margin-right", alt: "user photo" %>
    <div class="d-flex border card4 justify-content-space-between margin-top-bottom">
      <h1 class="padding"><%= @user.name %></h1>
      <p class="padding align-self-flexend justify-self-flex-end">Number of posts: <%= @user.PostCounter %></p>
    </div>
  </div>
  <% @user.posts.each do |post| %>
    <%= link_to user_post_path(@user.id, post.id), class: "link" do %>
      <div class="border padding">
        <h2>Post #<%= post.id %></h2>
        <%= post.text %>
        <div class="d-flex align-self-flexend">
          <p class="padding">Comments: <%= post.CommentsCounter %></p>
          <p class="padding">Likes: <%= post.LikesCounter %></p>
        </div>
        <% end %>
        <%= form_with url: "/users/#{@user.id}/posts/#{post.id}/likes" do |form| %>
        <%= form.submit "Like Post", class: "link like-button" %>
      </div>
    <% end %>
    <div class="border margin-bottom">
      <% post.recent_comments.each do |comment| %>
        <p><%= comment.text %></p>
      <% end %>
    </div>
  <% end %>
  <button class="button align-self-center margin-top-bottom">Pagination</button>
</div>
